body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/biendao/background.jpg'); /* Đường dẫn tới ảnh nền */
    background-size: cover; /* Điều chỉnh kích thước ảnh nền */
    background-position: center; /* Căn giữa ảnh nền */
    color: #000000; /* Màu chữ trắng */
    transition: opacity 0.5s ease-in-out;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Nền trắng mờ */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333; /* Màu chữ tiêu đề */
    margin-bottom: 20px;
}

p {
    color: #555; /* Màu chữ mô tả */
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff; /* Màu xanh dương */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Màu xanh đậm hơn khi hover */
}

@media (max-width: 768px) {
    body {
        padding: 20px; /* Thêm padding cho body trên điện thoại */
    }

    .container {
        max-width: 100%; /* Cho phép container chiếm toàn bộ chiều rộng trên điện thoại */
        padding: 20px; /* Giảm padding trên điện thoại */
    }

    h1 {
        font-size: 24px; /* Điều chỉnh kích thước font chữ cho tiêu đề */
    }

    p {
        font-size: 16px; /* Điều chỉnh kích thước font chữ cho mô tả */
    }

    input[type="text"],
    input[type="number"] {
        padding: 10px; /* Giảm padding cho input */
        font-size: 16px; /* Điều chỉnh kích thước font chữ */
    }

    button {
        padding: 10px 20px; /* Giảm padding cho nút */
        font-size: 16px; /* Điều chỉnh kích thước font chữ */
    }
}